%btn {
	text-decoration: none !important;
	padding: 12px 40px;
	border: none;
	display: inline-flex;
	align-items: center;
	border-radius: 50px;
	line-height: 1.6;
	font-family: $font-alt;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
	transition: filter 0.3s, background 0.3s, color 0.3s;
	font-size: 0.9em;
	filter: brightness(1);
	white-space: nowrap;

	&[disabled] {
		cursor: default;
		filter: grayscale(1);
		opacity: 0.7;
	}

	&:hover[disabled] {
		filter: grayscale(1);
	}

	&:hover {
		filter: brightness(1.1);
	}

	.icon {
		width: 16px;
		height: 16px;
		margin-right: space(1);
	}
}

.btn-primary {
	@extend %btn;
	background: var(--contrast);
	border: solid 1px var(--contrast);
}

.btn-primary-outlined {
	@extend %btn;
	border: 1px solid var(--contrast);
	color: var(--contrast);
	box-shadow: none;

	&:hover {
		filter: none;
		background: var(--contrast);
		color: #fff;
	}
}

.btn-secondary,
%btn-secondary {
	@extend %btn;
	background: var(--secondary);
	border: solid 1px var(--secondary);
}

.btn-secondary-outlined,
%btn-secondary-outlined {
	@extend %btn;
	border: 1px solid var(--secondary);
	color: var(--secondary);
	box-shadow: none;

	&:hover {
		filter: none;
		background: var(--secondary);
		color: #fff;
	}
}

.btn-group {
	display: inline-flex;

	& > .active {
		z-index: 2;
		position: relative;
	}

	& > * {
		z-index: 1;
	}

	& > * + * {
		margin-left: space(3);
	}
}

.btn-small {
	padding: 5px 15px;
	font-size: 0.6em;
}
